<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @drug.name %>
</p>

<p>
  <strong>Location:</strong><br>
  <% @locations.each do |location| %>
      <%= link_to location.location_name, location_path(location.location_id) %> QTY: <%= location.location_qty %> <br>
  <% end %>
</p>

<p>
  <strong>Brand:</strong><br>
  <% @brands.each do |brand| %>
      <%= link_to brand.brand_name, brand_path(brand.brand_id) %> QTY: <%= brand.brand_qty %><br>
  <% end %>
</p>

<%= link_to 'Edit', edit_drug_path(@drug) %> |
<%= link_to 'Back', drugs_path %>
