<%= form_for(@pill) do |f| %>
  <% if @pill.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pill.errors.count, "error") %> prohibited this pill from being saved:</h2>

      <ul>
      <% @pill.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :drug_id %><br>
    <%= f.text_field :drug_id %>
  </div>
  <div class="field">
    <%= f.label :brand_id %><br>
    <%= f.text_field :brand_id %>
  </div>
  <div class="field">
    <%= f.label :location_id %><br>
    <%= f.text_field :location_id %>
  </div>
  <div class="field">
    <%= f.label :hospital_id %><br>
    <%= f.text_field :hospital_id %>
  </div>
  <div class="field">
    <%= f.label :qty %><br>
    <%= f.number_field :qty %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
