<p id="notice"><%= notice %></p>

<p>
  <strong>Drug:</strong>
  <%= @pill.drug %>
</p>

<p>
  <strong>Brand:</strong>
  <%= @pill.brand %>
</p>

<p>
  <strong>Location:</strong>
  <%= @pill.location %>
</p>

<p>
  <strong>Hospital:</strong>
  <%= @pill.hospital %>
</p>

<p>
  <strong>Qty:</strong>
  <%= @pill.qty %>
</p>

<%= link_to 'Edit', edit_pill_path(@pill) %> |
<%= link_to 'Back', pills_path %>
