<%= form_for(@rfid) do |f| %>
  <% if @rfid.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rfid.errors.count, "error") %> prohibited this rfid from being saved:</h2>

      <ul>
      <% @rfid.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :uniq_id %><br>
    <%= f.text_field :uniq_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
