<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @credit_card.number %>
</p>

<p>
  <strong>Cvv:</strong>
  <%= @credit_card.cvv %>
</p>

<p>
  <strong>Address:</strong>
  <%= @credit_card.address %>
</p>

<p>
  <strong>Expiration date:</strong>
  <%= @credit_card.expiration_date %>
</p>

<%= link_to 'Edit', edit_credit_card_path(@credit_card) %> |
<%= link_to 'Back', credit_cards_path %>
