<p id="notice"><%= notice %></p>

<h1>Listing Inventory Snapshots</h1>

<table>
  <thead>
    <tr>
      <th>Location</th>
      <th>Rfid</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @inventory_snapshots.each do |inventory_snapshot| %>
      <tr>
        <td><%= inventory_snapshot.location %></td>
        <td><%= inventory_snapshot.rfid %></td>
        <td><%= link_to 'Show', inventory_snapshot %></td>
        <td><%= link_to 'Edit', edit_inventory_snapshot_path(inventory_snapshot) %></td>
        <td><%= link_to 'Destroy', inventory_snapshot, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Inventory snapshot', new_inventory_snapshot_path %>
