<%= form_for(@user) do |f| %>
    <% if @user.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

          <ul>
            <% @user.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <div class="field">
      <%= f.label :first_name %><br>
      <%= f.text_field :first_name %>
    </div>
    <div class="field">
      <%= f.label :middle_initial %><br>
      <%= f.text_field :middle_initial %>
    </div>
    <div class="field">
      <%= f.label :last_name %><br>
      <%= f.text_field :last_name %>
    </div>
    <div class="field">
      <%= f.label :phone %><br>
      <%= f.text_field :phone %>
    </div>
    <div class="field">
      <%= f.label :street_address %><br>
      <input id="user_street_address" name="user[street_address]" type="text" />
    </div>
    <div class="field">
      <%= f.label :city %><br>
      <input id="user_city" name="user[city]" type="text" />
    </div>
    <div class="field">
      <%= f.label :state %><br>
      <input id="user_state" name="user[state]" type="text" />
    </div>
    <div class="field">
      <%= f.label :zip_code %><br>
      <input id="user_zip_code" name="user[zip_code]" type="text" />
    </div>
    <div class="field">
      <%= f.label :country %><br>
      <input id="user_country" name="user[country]" type="text" />
    </div>
    <div class="field">
      <%= f.label :email %><br>
      <%= f.text_field :email %>
    </div>
    <div class="field">
      <%= f.label :password %><br>
      <%= f.text_field :password %>
    </div>
    <div class="field">
      <%= f.label :hospital_id %><br>
      <%= f.text_field :hospital_id %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
