<div class="patients-container">
  <h2 class="centered-header">Patient's in-transit medicine</h2>
  <div class="trackable-list">
    <div class="row trackable-header-row">
      <div class="col-md-3 col-sm-3 col-xs-3 trackable-cell">
        <span>
          <%= link_to "Drug Name", {:sorting_column => "t.drug_name"} %>
          <% if @sorting_column == "t.drug_name" %>
            <div class="<%= @sorting_order == 'ASC' ? 'arrow-up' : 'arrow-down' %>"></div>
          <% end %>
        </span>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-3 trackable-cell">
        <span>
          <%= link_to "Brand Name", {:sorting_column => "t.brand_name"} %>
          <% if @sorting_column == "t.brand_name" %>
              <span class="<%= @sorting_order == 'ASC' ? 'arrow-up' : 'arrow-down' %>"></span>
          <% end %>
        </span>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-3 trackable-cell">
        Recent Activity
      </div>
      <div class="col-md-2 col-sm-2 col-xs-2 trackable-cell">
        <span>
          <%= link_to "Time of last update", {:sorting_column => "last_update_time"} %>
          <% if @sorting_column == "last_update_time" %>
              <div class="<%= @sorting_order == 'ASC' ? 'arrow-up' : 'arrow-down' %>"></div>
          <% end %>
        </span>
      </div>
    </div>
    <% @trackables_of_patient.each do |trackable| %>
        <a href="/trackables/<%=trackable.trackable_id%>" class="trackable-link">
          <div class="row trackable-row">
            <div class="col-md-3 col-sm-3 col-xs-3 trackable-cell">
              <%= trackable.drug_name %>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-3 trackable-cell">
              <%= trackable.brand_name %>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-3 trackable-cell">
              <% if trackable.update_type == "is_arrival" %>
                  Arrived at
              <% else %>
                  Departed
              <% end %>
              <%= trackable.location_name %>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-2 trackable-cell">
              <%= trackable.last_update_time.strftime('%m/%d/%y %l:%M %p') %>
            </div>
          </div>
        </a>
    <% end %>
</div>