<div class="hospitals-container">
  <p id="notice"><%= notice %></p>
  <div class="location-section">
    <h2 class="centered-header">Locations</h2>
    <div class="location-list">
      <div class="row location-header-row">
        <div class="col-md-8 location-cell">
          Location
        </div>
        <div class="col-md-2 location-cell">
          # brands
        </div>
        <div class="col-md-2 location-cell">
          # pills
        </div>
      </div>
      <% @locations.each do |location| %>
          <a href="/locations/<%=location.id%>" class="location-link">
            <div class="row location-row">
              <div class="col-md-8 location-cell">
                <%= location.name %>
              </div>
              <div class="col-md-2 location-cell">
                <%= 5 %>
              </div>
              <div class="col-md-2 location-cell">
                <%= 1 %>
              </div>
            </div>
          </a>
      <% end %>
    </div>
  </div>
    <p>
      <strong>Name:</strong>
      <%= @hospital.name %>
    </p>

    <p>
      <strong>Address:</strong>
      <%= @hospital.address %>
    </p>

    <p>
      <strong>User:</strong>
      <%= @hospital.user %>
    </p>

    <%= link_to 'Edit', edit_hospital_path(@hospital) %> |
    <%= link_to 'Back', hospitals_path %>
</div>