<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @hospital.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @hospital.address %>
</p>

<p>
  <strong>User:</strong>
  <%= @hospital.user %>
</p>

<form id="spotlight-search" action="/hospitals/make_spotlight_search">
  <input id="spotlight-search-query" type="text" autocomplete="off">
</form>
<div class="search-results-popover">

</div>

<%= link_to 'Edit', edit_hospital_path(@hospital) %> |
<%= link_to 'Back', hospitals_path %>
