<p id="notice"><%= notice %></p>

<h1>Listing Rfid Reader Barcode Reader Pairings</h1>

<table>
  <thead>
    <tr>
      <th>Barcode reader</th>
      <th>Rfid reader</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rfid_reader_barcode_reader_pairings.each do |rfid_reader_barcode_reader_pairing| %>
      <tr>
        <td><%= rfid_reader_barcode_reader_pairing.barcode_reader %></td>
        <td><%= rfid_reader_barcode_reader_pairing.rfid_reader %></td>
        <td><%= link_to 'Show', rfid_reader_barcode_reader_pairing %></td>
        <td><%= link_to 'Edit', edit_rfid_reader_barcode_reader_pairing_path(rfid_reader_barcode_reader_pairing) %></td>
        <td><%= link_to 'Destroy', rfid_reader_barcode_reader_pairing, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Rfid reader barcode reader pairing', new_rfid_reader_barcode_reader_pairing_path %>
