<p id="notice"><%= notice %></p>

<h1>Listing Antennas</h1>

<table>
  <thead>
    <tr>
      <th>Uniq</th>
      <th>Location</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @antennas.each do |antenna| %>
      <tr>
        <td><%= antenna.hardware_id %></td>
        <td><%= antenna.location %></td>
        <td><%= link_to 'Show', antenna %></td>
        <td><%= link_to 'Edit', edit_antenna_path(antenna) %></td>
        <td><%= link_to 'Destroy', antenna, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Antenna', new_antenna_path %>
