<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @brand.name %>
</p>

<p>
  <strong>Location:</strong><br>
  <% @locations.each do |location| %>
      <%= link_to location.location_name, location_path(location.location_id) %> QTY: <%= location.location_qty %> <br>
  <% end %>
</p>

<p>
  <strong>Drug:</strong><br>
  <% @drugs.each do |drug| %>
      <%= link_to drug.drug_name, drug_path(drug.drug_id) %> QTY: <%= drug.drug_qty %><br>
  <% end %>
</p>

<%= link_to 'Edit', edit_brand_path(@brand) %> |
<%= link_to 'Back', brands_path %>
