<p id="notice"><%= notice %></p>

<h1>Listing Rfid Scans</h1>

<table>
  <thead>
    <tr>
      <th>Rfid reader</th>
      <th>Rfid</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rfid_scans.each do |rfid_scan| %>
      <tr>
        <td><%= rfid_scan.rfid_reader %></td>
        <td><%= rfid_scan.rfid %></td>
        <td><%= link_to 'Show', rfid_scan %></td>
        <td><%= link_to 'Edit', edit_rfid_scan_path(rfid_scan) %></td>
        <td><%= link_to 'Destroy', rfid_scan, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Rfid scan', new_rfid_scan_path %>
