<p id="notice"><%= notice %></p>

<p>
  <strong>Rfid reader:</strong>
  <%= @rfid_scan.rfid_reader %>
</p>

<p>
  <strong>Rfid:</strong>
  <%= @rfid_scan.rfid %>
</p>

<%= link_to 'Edit', edit_rfid_scan_path(@rfid_scan) %> |
<%= link_to 'Back', rfid_scans_path %>
