<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @location.name %>
</p>

<p>
  <strong>Hospital:</strong>
  <%= @location.hospital %>
</p>

<p>
  <strong>Drug:</strong><br>
  <% @drugs.each do |drug| %>
      <%= link_to drug.drug_name, drug_path(drug.drug_id) %> QTY: <%= drug.drug_qty %> <br>
  <% end %>
</p>

<p>
  <strong>Brand:</strong><br>
  <% @brands.each do |brand| %>
      <%= link_to brand.brand_name, brand_path(brand.brand_id) %> QTY: <%= brand.brand_qty %><br>
  <% end %>
</p>

<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %>
