<!DOCTYPE html>
<html>
<head>
  <title>Surge</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= javascript_tag do %>
      window.currentController = '<%= j controller.controller_name %>';
  <% end %>
</head>
<body>

<%= yield %>

</body>
</html>
